<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ammalia</title>
    <meta name="description" content="Leap Motion assisted web app that helps surgeons explore images.">
    <meta name="author" content="Big Hero 4">
    <!-- For old IEs -->
    <link rel="shortcut icon" href="./static/favicons/favicon.ico" />
    <!-- For new browsers multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="./static/favicons/favicon.ico">
    <!-- Chrome for Android -->
    <link rel="icon" sizes="192x192" href="./static/favicons/favicon-192.png">
    <!-- For iPhone 6+ downscaled for other devices -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="./static/favicons/favicon-180.png">
    <!-- For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="./static/favicon-144.png">
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
    <!-- <link rel="stylesheet" href="static/css/main.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/viewImage.css') }}" />
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <body>
        <img id="mainImage" src="{{ url_for('static', filename='images/Scans/top_view1.jpg') }}"> {% for image in images %}
        <img src="{{ image.url }}" id="mainImage"/> {% endfor %}
        <!-- Leap JS -->
        <script src="http://js.leapmotion.com/leap-0.6.4.min.js"></script>
        <!-- Leap Plugins -->
        <script src="http://js.leapmotion.com/leap-plugins-0.1.11.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/events/zoomEvent.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/events/swipeEvent.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/ammalia.js') }}"></script>
    </body>

</html>
