body {
	font-family: 'Karla', sans-serif;
	text-align: center;
}

h1 {
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 30pt;
}

#mainInfo {
	overflow: hidden;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#mainInfo, .patient {
	display: inline-block;
}

.patient {
	margin: 25px auto 0 auto;
	padding: 15pt;
	background-color: #E6E7E8;
	border: 1px solid black;
	overflow: hidden;
	width: 75%;
}

.profileImg {
	float: left;
	max-width: 15%;
	max-height: 15%;
}

.patientInfo, #username, #password {
	width: 75%;
	float: right;
}

.name, .time {
	margin: 0;
	text-align: left;
}

.name {
	font-size: 20pt;
}

.time {
	font-size: 15pt;
}

button {
    background-color: #61A7C6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    margin-top: 5%;
    margin-right: 7.5%;
}
